@import '../../styles/variables.css';

.container {
  padding: 0 3em;
  border-top: var(--border);
  &_desc {
    padding: 1em;
    font-size: var(--font-small);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--border);
    color: var(--light-gray);
  }
  &_header {
    color: var(--title-font);
  }
}