@import '../../styles/variables.css';

.container {
  lost-column: 1/3;
  margin-right: none;
  height: 99.7vh;
  border: var(--border);
  background-color: white;
  &_title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: var(--title-font);
    padding: 1em 0;
    background-color: var(--gray);
    margin-bottom: none !important;
  }
  &_tab {
    text-transform: none;
    font-weight: 100;
  }
}
