@import '../../styles/variables.css';

.button {
  border: var(--button-border);
  border-radius: 0.3em;
  display: inline-block;
  margin: 0.5em;
  & .label {
    font-weight: 100;
    text-transform: none;
    color: var(--buttons-color);
  }
  &:hover {
    border: 1px solid var(--main-color);
    & .label {
      color: var(--main-color);  
    }
  };

  
}
