:root {
  /*colors*/
  --light-gray: #d7d7d7;
  --gray: #e5e5e5;
  --title-font: #4f4f4f;
  --main-font: #6f6f6f;
  --main-color: #7d88d4;
  --main-bg: #fafafa;
  --buttons-color: #a2a2a2;
  --error-bg: #f2dede;
  --error-font-color: #b25654;

  /*font*/
  --font-small: 14px;

  /*border*/
  --border: 1px solid #e5e5e5;
  --button-border: 1px solid #f2f2f2;
  --error-border: 1px solid #ebcccc;
};
