@import '../../styles/variables.css';

.row {
  lost-column: 1/1;
  lost-row: 1/10;
  cursor: pointer;
  display: block;
  color: var(--main-font);
  &_mover {
    margin: 1em 0 0 .5em;
    lost-column: 1/160;
    border-left: 20px solid var(--gray);
  }
  &_title {
    cursor: text;
    lost-column: 2/10;
    lost-offset: 1/10;
    margin: 1em 0;
    &_header {
      lost-move: 1/15;
    }
  }
  &_choices {
    margin: 1em 0;
    lost-offset: 2/10;
    lost-column: 2/10;
    &_header {
      lost-move: 1/14;
    }
  }
  &_required {
    margin: 1em 0;
    lost-column: 3/14;
    &_header {
      lost-move: 1/14;
    }
  }
}

.choices{
  display: inline-flex;
  &_text {

  }
  &_multi {
    margin-right: .5em;
    &_remove {
      fill: var(--main-font) !important;
    }
    &_edit {
      cursor: text;
      min-width: 5em;
      display: inline-block;
      margin-right: .5em;
    }
  }
}

.checkbox {
  display: inline-block !important;
  width: 24px !important;
}

.remove {
  top: -.4em;
  & div span {
    text-transform: none !important;
    color: var(--error-font-color)
  }
}
