@import '../../styles/variables.css';

.container {
  lost-column: 2/3;
  margin-left: -30px;
  height: 99.9vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: var(--font-small);
  & .preview {
    border: var(--border);
    background-color: white;
    height: 85%;
    width: 80%;
    bottom: 1px;
    padding: 1em 2em;
    overflow: auto;
    &_header {
      lost-row: 1/10;
      &_logo {
        font-size: 1.5em;
        color: var(--title-font);
        float: left;
      }
      &_save {
        float: right;
      }
    }
    &_description {
      padding: 1em 0;
      &_title {
        text-transform: uppercase;
        font-size: var(--font-small);
        color: var(--light-gray);
        margin-right: .5em;
      }
    }
    &_errors {
      background-color: var(--error-bg);
      color: var(--error-font-color);
      border: var(--error-border);
      padding: 1em;
      border-radius: .5em;
    }
  }
}
